@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-text;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  input, textarea, select {
    font-size: 16px;
  }
}

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
